<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-signature-fingerprint"
  version="1.0.15">
  <name>SignatureFingerprint</name>
  <description>Cordova Signature Fingerprint Plugin</description>
  <license>MIT</license>
  <keywords>cordova,signature fingerprint</keywords>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/SignatureFingerprintPlugin.js">
    <clobbers target="cordova.getSignatureFingerprint" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SignatureFingerprint">
        <param name="android-package" value="com.fontesoft.cordova.SignatureFingerprint" />
      </feature>
    </config-file>
    <source-file src="src/android/SignatureFingerprint.java" target-dir="src/com/fontesoft/cordova" />
  </platform>
</plugin>
