<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-signature-fingerprint" version="1.0.0">
   <name>SignatureFingerprint</name>
   <description>Cordova Signature Fingerprint Plugin</description>
   <license>MIT</license>
   <keywords>cordova,signature fingerprint</keywords>
   <js-module name="device" src="www/signature.js">
      <clobbers target="signature" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="SignatureFingerprint">
            <param name="android-package" value="cordova-plugin-signature-fingerprint.SignatureFingerprint" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/SignatureFingerprint.java" target-dir="src/cordova-plugin-signature-fingerprint/SignatureFingerprint" />
   </platform>
</plugin>
